footer { 
    background: white; 
    border-top: 1px solid #e5e7eb; 
    padding: 12px 0; 
}

.animated {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    visibility: visible;
}
