/* index.css - global resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
  background: #f3f4f6;
  color: #111827;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}
