.login-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.login-users{
    margin: 10px;
    width: 150px;
    padding:  7px;
    border: 1px solid black;
    border-radius: 5px;
}

.login-users:hover {
    background-color: white;
    color: #9101F2;
}